@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@source inline("{bg,text,border}-{debtor,creditor,settled}{,-subtle,-strong}");

@font-face {
    font-family: "Vazirmatn";
    src: url("../fonts/Vazirmatn[wght].woff2")
            format("woff2 supports variations"),
        url("../fonts/Vazirmatn[wght].woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Arad";
    src: url("../fonts/Arad-VF.woff2") format("woff2 supports variations"),
        url("../fonts/Arad-VF.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --breakpoint-xs: 30rem;

    --spacing-main: calc(100vh - 96px);

    /* Default (Light Mode) */
    --color-background: var(--color-gray-100);
    --color-foreground: var(--color-gray-900);

    --color-text: var(--color-gray-900);
    --color-text-faint: var(--color-gray-300);
    --color-text-subtle: var(--color-gray-500);
    --color-text-soft: var(--color-gray-700);

    --color-surface: var(--color-white);
    --color-surface-faint: var(--color-gray-100);
    --color-surface-subtle: var(--color-gray-50);
    --color-surface-strong: var(--color-gray-200);
    --color-surface-fg: var(--color-gray-900);

    --color-border: var(--color-gray-300);
    --color-border-subtle: var(--color-gray-200);
    --color-border-strong: var(--color-gray-500);
    --color-border-input: var(--color-gray-300);

    --color-brand: var(--color-indigo-600);
    --color-brand-faint: var(--color-indigo-100);
    --color-brand-subtle: var(--color-indigo-200);
    --color-brand-soft: var(--color-indigo-400);
    --color-brand-bold: var(--color-indigo-700);
    --color-brand-strong: var(--color-indigo-800);
    --color-brand-fg: var(--color-indigo-50);

    --color-action: var(--color-gray-800);
    --color-action-faint: var(--color-gray-100);
    --color-action-subtle: var(--color-gray-200);
    --color-action-soft: var(--color-gray-400);
    --color-action-bold: var(--color-gray-900);
    --color-action-strong: var(--color-gray-950);
    --color-action-fg: var(--color-gray-50);

    --color-muted: var(--color-gray-500);
    --color-muted-faint: var(--color-gray-200);
    --color-muted-subtle: var(--color-gray-300);
    --color-muted-soft: var(--color-gray-400);
    --color-muted-strong: var(--color-gray-600);
    --color-muted-fg: var(--color-gray-100);

    --color-link: var(--color-blue-600);
    --color-link-faint: var(--color-blue-100);
    --color-link-subtle: var(--color-blue-200);
    --color-link-soft: var(--color-blue-400);
    --color-link-bold: var(--color-blue-700);
    --color-link-strong: var(--color-blue-800);
    --color-link-fg: var(--color-white);

    --color-success: var(--color-green-600);
    --color-success-faint: var(--color-green-100);
    --color-success-subtle: var(--color-green-200);
    --color-success-soft: var(--color-green-400);
    --color-success-bold: var(--color-green-700);
    --color-success-strong: var(--color-green-800);
    --color-success-fg: var(--color-white);

    --color-error: var(--color-red-600);
    --color-error-faint: var(--color-red-100);
    --color-error-subtle: var(--color-red-200);
    --color-error-soft: var(--color-red-400);
    --color-error-bold: var(--color-red-700);
    --color-error-strong: var(--color-red-800);
    --color-error-fg: var(--color-white);

    --color-warning: var(--color-yellow-500);
    --color-warning-faint: var(--color-yellow-100);
    --color-warning-subtle: var(--color-yellow-200);
    --color-warning-soft: var(--color-yellow-300);
    --color-warning-bold: var(--color-yellow-600);
    --color-warning-strong: var(--color-yellow-800);
    --color-warning-fg: var(--color-yellow-50);

    --color-info: var(--color-blue-500);
    --color-info-faint: var(--color-blue-100);
    --color-info-subtle: var(--color-blue-200);
    --color-info-soft: var(--color-blue-300);
    --color-info-bold: var(--color-blue-600);
    --color-info-strong: var(--color-blue-700);
    --color-info-fg: var(--color-blue-50);

    --color-settled: var(--color-emerald-500);
    --color-settled-subtle: var(--color-emerald-200);
    --color-settled-strong: var(--color-emerald-800);
    --color-creditor: var(--color-sky-500);
    --color-creditor-subtle: var(--color-sky-200);
    --color-creditor-strong: var(--color-sky-800);
    --color-debtor: var(--color-red-500);
    --color-debtor-subtle: var(--color-red-200);
    --color-debtor-strong: var(--color-red-800);

    --color-input: var(--color-white);
    --color-input-shadow: --alpha(var(--color-gray-900) / 10%);

    --radius-input: var(--radius-sm);
    --shadow-input: 0 1px 1px var(--color-input-shadow);

    --shadow-center: 0 0 6px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
        0 0 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
        0 0 0 1px var(--tw-shadow-color, rgb(0 0 0 / 0.05));

    /* Animations remain unchanged */
    --animate-slide-down-in: slide-down 0.15s ease-out;
    --animate-slide-down-out: slide-down 0.15s reverse ease-out;
    --animate-slide-up-in: slide-up 0.15s ease-out;
    --animate-slide-up-out: slide-up 0.15s reverse ease-out;
    --animate-modal-blur-entering: modal-blur 300ms;
    --animate-modal-blur-exiting: modal-blur 300ms reverse ease-in;
    --animate-slide-left-in: slide-left 400ms ease-in-out;
    --animate-slide-left-out: slide-left 300ms reverse ease-in;
    --animate-slide-right-in: slide-right 400ms ease-in-out;
    --animate-slide-right-out: slide-right 300ms reverse ease-in;

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(0.5rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-0.5rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes modal-blur {
        from {
            backdrop-filter: blur(0);
        }
        to {
            backdrop-filter: blur(2px);
        }
    }

    @keyframes slide-left {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes slide-right {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    --font-mono--font-feature-settings: "tnum", "ss01" on;
}

@layer base {
    /* Default styles */
    :root {
        background-color: var(--color-background);
        color: var(--color-foreground);
        border-color: var(--color-border);
        font-family: "Arad", "Vazirmatn", sans-serif;
    }
    [lang="fa"] {
        font-family: "Arad", "Vazirmatn", sans-serif;
        font-feature-settings: "ss01" on;
        --font-mono: "Arad", "Vazirmatn", sans-serif;
    }

    /* Dark mode overrides */
    @variant dark {
        --color-background: var(--color-gray-900);
        --color-foreground: var(--color-gray-100);

        --color-text: var(--color-gray-100);
        --color-text-faint: var(--color-gray-500);
        --color-text-subtle: var(--color-gray-400);
        --color-text-soft: var(--color-gray-300);

        --color-surface: var(--color-gray-950);
        --color-surface-faint: var(--color-gray-900);
        --color-surface-subtle: var(--color-gray-800);
        --color-surface-strong: var(--color-gray-700);
        --color-surface-fg: var(--color-gray-100);

        --color-border: var(--color-gray-700);
        --color-border-subtle: var(--color-gray-600);
        --color-border-strong: var(--color-gray-800);
        --color-border-input: var(--color-gray-700);

        --color-brand: var(--color-indigo-500);
        --color-brand-faint: var(--color-indigo-200);
        --color-brand-subtle: var(--color-indigo-300);
        --color-brand-soft: var(--color-indigo-400);
        --color-brand-bold: var(--color-indigo-600);
        --color-brand-strong: var(--color-indigo-700);
        --color-brand-fg: var(--color-indigo-100);

        --color-action: var(--color-gray-100);
        --color-action-faint: var(--color-gray-600);
        --color-action-subtle: var(--color-gray-400);
        --color-action-soft: var(--color-gray-200);
        --color-action-bold: var(--color-gray-100);
        --color-action-strong: var(--color-gray-50);
        --color-action-fg: var(--color-gray-950);

        --color-muted: var(--color-gray-500);
        --color-muted-faint: var(--color-gray-700);
        --color-muted-subtle: var(--color-gray-600);
        --color-muted-soft: var(--color-gray-400);
        --color-muted-strong: var(--color-gray-300);
        --color-muted-fg: var(--color-gray-900);

        --color-link: var(--color-blue-600);
        --color-link-faint: var(--color-blue-100);
        --color-link-subtle: var(--color-blue-200);
        --color-link-soft: var(--color-blue-400);
        --color-link-bold: var(--color-blue-700);
        --color-link-strong: var(--color-blue-800);
        --color-link-fg: var(--color-white);

        --color-success: var(--color-green-600);
        --color-success-faint: var(--color-green-100);
        --color-success-subtle: var(--color-green-200);
        --color-success-soft: var(--color-green-400);
        --color-success-bold: var(--color-green-700);
        --color-success-strong: var(--color-green-800);
        --color-success-fg: var(--color-white);

        --color-error: var(--color-red-600);
        --color-error-faint: var(--color-red-100);
        --color-error-subtle: var(--color-red-200);
        --color-error-soft: var(--color-red-400);
        --color-error-bold: var(--color-red-700);
        --color-error-strong: var(--color-red-800);
        --color-error-fg: var(--color-white);

        --color-warning: var(--color-yellow-500);
        --color-warning-faint: var(--color-yellow-100);
        --color-warning-subtle: var(--color-yellow-200);
        --color-warning-soft: var(--color-yellow-300);
        --color-warning-bold: var(--color-yellow-600);
        --color-warning-strong: var(--color-yellow-800);
        --color-warning-fg: var(--color-yellow-50);

        --color-info: var(--color-blue-500);
        --color-info-faint: var(--color-blue-100);
        --color-info-subtle: var(--color-blue-200);
        --color-info-soft: var(--color-blue-300);
        --color-info-bold: var(--color-blue-600);
        --color-info-strong: var(--color-blue-700);
        --color-info-fg: var(--color-blue-50);

        --color-settled: var(--color-emerald-500);
        --color-settled-subtle: var(--color-emerald-800);
        --color-settled-strong: var(--color-emerald-200);
        --color-creditor: var(--color-sky-500);
        --color-creditor-subtle: var(--color-sky-800);
        --color-creditor-strong: var(--color-sky-200);
        --color-debtor: var(--color-red-500);
        --color-debtor-subtle: var(--color-red-800);
        --color-debtor-strong: var(--color-red-200);

        --color-input: var(--color-gray-950);
        --color-input-shadow: --alpha(var(--color-gray-100) / 30%);
    }
}
